@import "variables";

.about{
    background-color: $text-color-White;
    z-index: 1;
    overflow: hidden;
}

.me-svg-wrapper{
    position: absolute;
    top: 0;
    min-width: 1000px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    img {
        margin-left: auto;
        width: 60%;
        
    }
}

.back-wrapper{
    margin: 2em auto;
    max-width: 800px;
}

.back {
    width: 100%;
    padding-bottom: 100%;
}

.content {
    position: relative;
    overflow: hidden;
    top: 80px;
    left: 8vw;
}

.more-button {
    background: #FF5351;

}