.icon-menu {
    
    display: flex;
    border: solid 1px #333;
    width: 100%;
    /* 可能な限り最大で表示 */
    background: #fff;
    border: solid 1px #333;
    text-align: center;

}

.lanIcon:hover {
    transform: scale(1.1);
}